:root{
    --spacing: 10px;
    --base: 10px;
    --color: #ffc600;
}
img{
    padding: var(--spacing);
    background: var(--color);
    filter: blur(var(--base));
}
body{
    background: pink;
}



